[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "*"
certifi = "*"
chardet = "*"
click = "*"
configparser = "*"
enum34 = "*"
futures = "*"
gunicorn = "*"
idna = "*"
isort = "*"
itsdangerous = "*"
lazy-object-proxy = "*"
mccabe = "*"
music-recommender = "*"
pylint = "*"
requests = "*"
singledispatch = "*"
six = "*"
urllib3 = "*"
wrapt = "*"
"backports.functools-lru-cache" = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
python-dotenv = "*"
flask-cors = "*"
flask-htmlmin = "*"

[requires]
python_version = "*"
