/* ----- Search component ----- */

/* Search Text */

.heading-lg {
  font-size: 3rem;
}

/* Search bar */

.search-bar {
  display: block;
  width: 100%;
  border-radius: 0px;
  color: #222;
}

/* ----- Text highlight ----- */

/* Code for Firefox */

::-moz-selection {
  color: #fff;
  background: #222;
}

.selection-inverted::-moz-selection {
  background: #fff !important;
  color: #222 !important;
}

/* Code for chrome */

::selection {
  color: #fff;
  background: #222;
}

.selection-inverted::selection {
  background: #fff !important;
  color: #222 !important;
}

/* ----- Buttons ----- */

.btn-black, .btn-black:focus {
  color: #222 !important;
  background-color: #fff;
  box-shadow: none;
  border-radius: 0px;
}

.btn-black:hover, .btn-black:active, .btn-black.active {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #222 !important;
  box-shadow: none !important;
}

/* ----- Alerts ----- */

.alert-popup {
  display: none;
}

/* ----- Miscellaneous ----- */

code {
  color: #fff !important;
}

.bg-white {
  color: #222;
  background-color: #fff !important;
}

.bg-black {
  color: #fff;
  background-color: #222;
}

.line-separator {
  width: 6%;
  height: 5px;
  background: #fff;
  border-bottom: 1px solid #fff;
}

.line-separator-2 {
  height: 1px;
  background: #717171;
  border-bottom: solid 3px #222;
  margin-top: 3em;
  margin-bottom: 3em
}

.line-black {
  border-bottom: 1px solid #222;
  display: inline-block;
}

.line-white {
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.dotted-text {
  border-bottom: 3px dotted #222;
  cursor: pointer
}

.spacing-bottom {
  margin-bottom: 20vh;
}

/* ----- Bootstrap Override ----- */

.container-fluid {
  padding: 0px;
}

.form-control {
  border: 3px solid #fff;
  border-radius: 0rem;
}

.table td, .table th {
  padding: 4vh;
  background-color: #fff;
  border-top: 1px solid #222;
}

.min-table-cell {
  min-width: 135px;
}

.btn-outline {
  color: #222;
  background-color: #fff;
  border: solid 1px #222;
  border-radius: 0px;
}

.btn-outline:hover {
  color: #fff;
  background-color: #222;
  border: solid 1px #222;
}

.modal-content {
  border-radius: 0px;
}