<!doctype html>
<html lang="en">
  {% include 'header.html' %}

  <body>
    <div class="bg-black"> {% include 'side-nav.html' %}
      <div class="p-5">
        <div class="container-fluid">
          <h1 class="text-center heading-lg mt-5 mb-5 selection-inverted">About</h1>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <h2 class="mb-4">What is Hookify?</h2>
      <p class="mb-5">
        Hookify is a Web application to discover music recommendations based on your favorite artists. Using advanced Machine Learning Algorithms to find recommendations based on artists, Hookify uses data to help you find songs that match your taste. Recommendations
        include both songs from the searched artist and others that may match your tast of music. Results are sorted by Artifaule Intelligence before being displayed based on ranking. Hookify is able to determine the type of music you like with the use
        of data from services such as Spotify and Youtube. Date that comes from similar search results used by others in those services.
      </p>
      <hr/>
      <div class="mb-5">
        <h2 class="mt-5 mb-4">Privacy</h2>
        <p><b>Hookify Does Not Collect or Store Data of it's Users</b></p>
        <p>The right to Privacy is importnet. The app is monetized using ads, not by mining your data. It is for that reason that Hookify uses HookTube instead of YouTube for playing songs. While the source might be from YouTube, HookTube is used to redirect
          to allow for</p>
        <ul style="list-style-type:none">
          <li>- Play videos without giving them views</li>
          <li>- Bypasses country blocks & age restrictions</li>
          <li>- Keep your data private from Google</li>
        </ul>
        <p>HookTube has no need to learn your location or who you are. We simply don't care. And if we wanted to know more about you, we'll do it over Coffee, not an IP address.</p>
      </div>
      <hr/>
    </div>
    {% include 'footer.html' %}
  </body>

</html>