{% extends 'base.html' %} {% block content %}
<div class="bg-black">
  <div class="p-5">
    <div class="container-fluid">
      <h1 class="text-center heading-lg mt-5 mb-5 selection-inverted">About</h1>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <selection id="about">
    <h2 class="mb-4">What is Hookify?</h2>
    <p>
      Hookify is a Web application to discover music recommendations based on your favorite artists. Using advanced Machine Learning Algorithms to find recommendations based on artists, Hookify uses data to help you find songs that match your taste. Recommendations
      include both songs from the searched artist and others that may match your tast of music. Results are sorted using advanced, self learning, artificial intelligence before being displayed based on ranking.
    </p>
    <p>
      Hookify is able to determine the type of music you like with the use of data from services such as Spotify and YouTube. Data that comes from similar search results used by others on those services.
    </p>
  </selection>
  <div class="mb-5"></div>
  <hr/>
  <selection id="privacy" class="mb-5">
    <h2 class="mt-5 mb-4">Privacy</h2>
    <p><b>Hookify Does Not Collect or Store Data of it's Users or of Any Kind</b></p>
    <p>The right to Privacy is important. The app is monetized using (Google) ads, not by mining your data. It is for that reason that Hookify uses HookTube instead of YouTube for playing songs. While the source might be from YouTube, HookTube is used to
      redirect so to allow for the following -</p>
    <ul style="list-style-type:none">
      <li>- Play videos without giving them views</li>
      <li>- Bypasses country blocks & age restrictions</li>
      <li>- Keep your data private from Google</li>
    </ul>
    <p>Hookify has no need to learn your location or identity.<br/>We simply don't care, and if we wanted to know more about you, we'll do it over Coffee, not an IP address.</p>
  </selection>
  <div class="mb-5"></div>
  <hr/>
  <selection id="dmca-takedown" class="mb-5">
    <h2 class="mt-5 mb-4">DMCA TakeDown</h2>
    <h5 class="mb-4">Content</h5>
    <p><b>Hookify Does Not Store or Host Content of Any Kind</b></p>
    <p>The Hookify service simply uses the Spotify and YouTube APIs to find and direct users to Music of their liking. YouTube video URLs are pulled and pipelined to HookTube which redirects them before they are shown in a HTML5 Player to user on the Hookify
      service.
    </p>
    <div class="mb-4"></div>
    <h5 class="mb-4">Celebrity Images</h5>
    <p><b>Celeberty images shown are not an indeaction that they have any affiliation, of any kind, with the Hookify serivce.</b></p>
    <p>All images are modified Stock images and fall under fair use.</p>
    <p>If an affiliated party to a Celebrity, or Celebrities, shown wishes to issue an immediate takedown of the images, please Contact us with the Name of the Celebrity, or Celebrities, making sure to include proof of representation, and the image, or images,
      shall be removed as soon as possible.
    </p>
  </selection>
</div>
{% endblock %}