<!doctype html>
<html lang="en">

  {% include 'header.html' %}

  <body>

    <div class="bg-black"> {% include 'sidenavigation.html' %}
      <div class="p-5">
        <div class="container-fluid">
          <h1 class="text-center heading-lg mt-5 mb-5 selection-inverted">Docs</h1>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">

      <h2 class="mb-4">API Documentation</h2>

      <p class="mb-4">This app uses the <a href="https://developer.spotify.com/web-api/get-recommendations/">Spotify Recommendations API</a> to retreive track recommendations for a given artist. The <a href="https://developers.google.com/youtube/v3/">YouTube Data API</a>        is used to fetch YouTube video for a given recommendation.</p>

      <p class="mb-3"><a href="https://hooktube.com/">HookTube</a> is used to redirect Youtbe videos to allow for -</p>
      <ul style="list-style-type:none">
        <li>- HTML5 Video player</li>
        <li>- Play videos without giving them views</li>
        <li>- Bypasses country blocks & age restrictions</li>
        <li>- Download videos</li>
        <li>- Keep your data private from Google</li>
      </ul>

      <h2 class="mt-5 mb-4">Get Recommendations</h2>

      <p class="mb-4">This endpoint returns a list of recommended songs for a given artist.</p>

      <div class="col-md-8 p-4 bg-black">
        <code class="selection-inverted">
          curl -X POST  https://hookify.herokuapp.com/recommendations?artist=oasis
        </code>
      </div>

      <p class="mt-4 mb-4">The above command returns JSON structured like this:</p>

      <div class="col-md-8 p-2 bg-black">
        <pre id="json">
          <code class="selection-inverted">
            [
            "The Masterplan - Oasis",
            "Club Foot - Kasabian",
            "Notion - Kings of Leon",
            "Man of War - Radiohead",
            "Married With Children - Remastered - Oasis",
            "Someday - The Strokes",
            "You Do Something To Me - Paul Weller",
            "Waterfall - Remastered - The Stone Roses",
            "This Charming Man - 2011 Remastered Version - The Smiths",
            "Fireside - Arctic Monkeys",
            "Slide Away - Remastered - Oasis",
            "I Promise - Radiohead",
            "For What It's Worth - Liam Gallagher",
            "Wasted - Kasabian",
            "Banquet - Bloc Party",
            "Rockin' Chair - Oasis",
            "Maybe Tomorrow - Stereophonics",
            "Always Ascending - Franz Ferdinand",
            "505 - Arctic Monkeys",
            "You Only Live Once - The Strokes"
            ]
          </code>
        </pre>
      </div>

      <div class="mt-5 mb-5">
        <h2>Query Parameters</h2>

        <div class="col-md-6 mt-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tr>
              <td>artist</td>
              <td>The artist name</td>
            </tr>
          </table>
        </div>
      </div>

      <h2 class="mb-4">Get YouTube / HookTube Video</h2>

      <p class="mb-4">This endpoint returns the YouTube url for a given recommendation.</p>

      <div class="col-md-10 p-4 bg-black">
        <code class="selection-inverted">
        curl -X POST 'https://hookify.herokuapp.com/video?recommendation=The%20Masterplan%20-%20Oasis'
      </code>
      </div>

      <p class="mt-4 mb-4">The above command returns JSON structured like this:</p>

      <div class="col-md-8 p-4 bg-black">
        <pre id="json">
          <code class="selection-inverted">
            {
                "id": "dPPi2D6GK7A",
                "recommendation": "The Masterplan - Oasis",
                "thumbnail": {
                    "height": 360,
                    "url": "https://i.ytimg.com/vi/dPPi2D6GK7A/hqdefault.jpg",
                    "width": 480
                },
                "youtube_title": "Oasis - The Masterplan"
            }
          </code>
        </pre>
      </div>

      <div class="mt-5 mb-5">
        <h2>Query Parameters</h2>

        <div class="col-md-6 mt-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tr>
              <td>recommendation</td>
              <td>The track name</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    {% include 'footer.html' %}

  </body>

</html>