{% extends 'base.html' %}
{% block content %}

{# Banner #}
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <h2 class="display-4 font-weight-bold">Download the App</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <p>Download the Hookify app on any device and discover new sounds.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-md-left text-center">
      <a href="#">
        <h3 class="btn"><i class="fab fa-apple fa-4x mb-3"></i><br>Mac</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-md-left text-center">
      <a href="#">
        <h3 class="btn"><i class="fab fa-windows fa-4x mb-3"></i><br>Windows</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-6 mt-lg-0 mt-5 text-md-left text-center">
      <a href="#">
        <h3 class="btn"><i class="fab fa-linux fa-4x mb-3"></i><br>Linux</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-6 mt-5 text-md-left text-center">
      <a href="" class="disabled" aria-disabled="true">
        <h3 class="btn"><i class="fab fa-app-store-ios fa-4x mb-3"></i><br>iOS</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-6 mt-5 text-md-left text-center">
      <a href="" class="disabled" aria-disabled="true">
        <h3 class="btn"><i class="fab fa-android fa-4x mb-3"></i><br>Android</h3>
      </a>
    </div>
  </div>
</div>

{% endblock %}