{% extends 'base.html' %}
{% block content %}

{# Search #}
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <form id="searchForm">
        <div class="form-row align-items-center">
          {# Genre Drop-down #}
          <div style='display:none' id="genreDropdown" class="form-group col-xl-8 col-lg-8 col-md-12 col-12">
            <label for="genre">Genre</label>
            <select id="genreSelector" name="genre" class="form-control">
              {% for genre in genres %}
              <option value="{{ genre }}">{{ genre }}</option>
              {% endfor %}
            </select>
          </div>
          {# Search Input #}
          <div id="searchField" class="form-group col-xl-8 col-lg-8 col-md-12 col-12">
            <label for="searchQuery">Search</label>
            <input type="text" class="form-control" id="searchQuery" name="artist" placeholder="Enter search query...">
          </div>
          {# Type Drop-down #}
          <div class="form-group col-xl-4 col-lg-4 col-md-12 col-12">
            <label for="inputState">Type</label>
            <select id="searchTypeSelector" class="form-control">
              <option selected value="artist">Artist</option>
              <option value="track">Track</option>
              <option value="genre">Genre</option>
            </select>
          </div>
        </div>
        <div class="form-row align-items-center">
          {# Clear Button #}
          <div class="form-group col-xl-6 col-lg-6 col-md-6 col-12">
            <button id="clear" type="reset" class="btn btn-lg btn-block btn-dark">Clear Search</button>
          </div>
          {# Search Button #}
          <div class="form-group col-xl-6 col-lg-6 col-md-6 col-12">
            <button id="findRecommendations" type="submit" class="btn btn-lg btn-block btn-dark">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{# Alerts #}
<div class="container">
  <div class="row my-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div style="display:none" id="alertBox">
        <div class="alert alert-light text-dark" role="alert">
          <span id="alertMessage"></span>
        </div>
      </div>
    </div>
  </div>
</div>

{# Results Table #}
<div class="container-fluid">
  <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-12">
    <div id='resultsArea'> </div>
  </div>
</div>

{# Video #}
<div class="container">
  <div style="display: none" id="videoArea">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        {# Video Embed #}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" id='video' src="" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      {# Back Button #}
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-12">
        <button class="btn btn-lg btn-block btn-dark" onclick="displayResults()" href="#">
          <i class="fas fa-chevron-left mr-3"></i> Back to results</button>
      </div>
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-12">
        {# More-like This Button #}
        <button onclick="findSimilarTracks()" id="moreLikeThis" class="btn btn-lg btn-block btn-dark">
          <i class="fas fa-headphones-alt mr-3"></i> More like this
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}